<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome"/>
    <add key="baseUrl" value="http://www.google.com/"/>
    <add key="SSPath" value="Screens"/>
    <add key="username" value="sqa-demo"/>
    <add key="password" value="demo123"/>
    <add key="timeout" value="120"/>
  </appSettings>
</configuration>